.navbar {
  height: 70px;
  background-color: #1f2937;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 45px;
}
.icones {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  font-size: 20px;
}
.logo img {
  height: 50px;
  width: auto;
  border-radius: 6px;
  border-radius: 67px;
}


.icones svg {
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.icones svg:hover {
  transform: scale(1.2);
  color: #FF8C00; /* dourado */
}
.cabeçalho{
  font-size: 28px;
  font-weight: bold;
  margin-left: -180px;

}


.logo {
  font-size: 28px;
  font-weight: bold;
}

.menu {
  display: flex;
  height: 0px;
  gap: 30px;
  list-style: none;
}

.menu li {
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  color: #FF8C00;

}
.redes {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-top: 0px;
  margin-left: 30px;
  align-items: center;
}

.redes span {
  font-size: 0.9rem;
  color: #fff;
  margin-right: 8px;
}

/* Botões sociais como links */
.social {
  background-color: #FF8C00; /* dourado */
  color: #0b1424;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  font-size: 20px;
}

.social:hover {
  transform: scale(1.1);
}

/* Cores específicas ao hover */
.redes {
  display: flex;
  gap: 10px;
  list-style: none;
  
}

.redes button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.btn-facebook {
  color: #1877f2;
}

.btn-youtube {
  color: #ff0000;
}

.btn-instagram {
  color: #e4405f;
}

.redes button:hover {
  transform: scale(1.15);
}